body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/*
.wifi-header {
  padding-top: 15%;
  width: 30rem;
}
*/
header {
  height: 1380px;
  background-img: url("img/city.png");
}

.destaque {
  margin-top: 10%;
}

.destaque-desc {
  text-transform: uppercase;
  color: #fff;
}
.destaque-desc-top {
  margin-top: 5%;
  font-weight: bold;
  font-size: 120%;
}

.destaque-desc-bottom {
  font-weight: normal;
  font-size: 120%;
}

.icon-header {
  float: left;
  width: 33.333%;
}

.programa {
  background-color: #0D293C;
  height: 800px;
  width: 100%;
}

.indicador-programa {
  color: white;
  text-align: center;
}

.indicadores {
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin: auto;
}

.indicador-number {
  font-size: 8vw;
  font-weight: bold;
  left: 100px;
  color: #CCFFBA;
}

.indicador-number2 {
  font-size: 2.5vw;
  font-weight: bold;
  color: #CCFFBA;
}

.indicador-descricao {
  font-size: 0.7vw;
  font-weight: bold;
  text-transform: uppercase;
}

.expansao {
  color: white;
  padding-top: 7%;
  padding-bottom: 2%;
  padding-left: 2%;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.progress {
  border-radius: 15px;
  height: 120px;
  width: 49%;
  margin-left: 25.5%
}

.pontos-programa {
  padding-top: 10%;
  overflow-x:auto;
}

.progress-bar {
  background-color: #CCFFBA;
  padding-top: 5.5vh;
  font-size: 3rem;
  font-weight: bold;
}
/*
#localidades {
  background-color: #0D293C;
}*/

.localidade {
  text-align: center;
  text-transform: uppercase;
  padding-top: 5%;
  font-weight: bold;
}

.progress-bar {
  color: #0d293c;
}

.localidade-numero {
  font-size: 3rem;
}

.text-muted {
  color: #777777;
}
.text-primary {
  color: #fed136;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}
.navbar-custom {
  background-color: #0D293C;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
  /*font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;*/
  font-family: 'Montserrat', sans-serif;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li a {
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 992px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 992px) {
  .navbar-custom.affix {
    background-color: #0D293C;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  background-color: #CCFFBA;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

header .intro-heading {
  padding-top: 20vh;
  height: 50vh;
  width: 50vw; 
}

@media (min-width: 992px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

section h5.section-subheading {
  font-size: 16px;
  /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

@media (min-width: 992px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}

iframe {
  height: 60vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER WEB */

body {
  overflow-x: hidden;
}

footer {
  background-color: #0D293C;
  height: 300px;
  color: #fff;
}

.footer__logo--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5rem;
}

.footer__logo--wifi {
  padding-top: 6rem;
  width: 7rem;
  padding-right: 2rem;
}

.footer__logo--prefeitura {
  padding-top: 2rem;
  width: 14rem;
}

.vl {
  margin-top: 5.5rem;
  padding-left: 2%;
  border-right: 4px solid white;
  height: 140px;
}

footer p {
  font-family: 'Montserrat';
  color: white;
  font-stretch: bold;
  text-align: left;
  line-height: 1.6;
  padding-top: 7.5rem;
  padding-left: 2%;
}

/* FOOTER WEB */

/* FOOTER MOBILE */

@media (max-width: 992px) {

  body {
    overflow-x: hidden;
  }

  header {
    height: 100%;
  }

  header .intro-heading {
    padding-top: 2vh;
    width: 22rem;
  }

  footer {
    height: 400px;
  }

  footer p {
    text-align: center;
  }

  #left-controller, #right-controller {
    font-size: 40px;
    top: 640px;
    text-decoration: none;
    position: absolute;
    z-index: 3;
  }

  #right-controller {
    left: 87%;
  }

}

tr:hover {
  background-color: #ddd;
}

td {
  border: 1px solid #000;
  padding-right: 0.5%;
  padding-left: 0.5%;
}

th {
  border: 1px solid #fff;
  padding-right: 0.5%;
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

table {
  margin-left: 4vw;
  margin-right: 4vw;
}

.noticias {
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}

.noticias-descricao {
  color:#0d293c; 
  font-weight: bold; 
  font-size: 15px;
}
